*.pyc
*~
/sage/**/*
!/sage/modular/*
/sage/modular/ssmod/*
/sage/modular/quatalg/*
/.hg/*
/.hgignore
/.hgtags
/MANIFEST.in
/PKG-INFO
/README.txt
/build/*
/bundle
/c_lib/*
/cython_debug/*
/doc/*
/export
/fpickle_setup.py
/install
/module_list.py
/pull
/sage-push
/sage/__init__.py
/sage/all.py
/sage/all_cmdline.py
/sage/all_notebook.py
/sage/modular/__init__.py
/sage/modular/abvar/*
/sage/modular/all.py
/sage/modular/arithgroup/*
/sage/modular/buzzard.py
/sage/modular/congroup.py
/sage/modular/congroup_element.py
/sage/modular/curves/*
/sage/modular/cusps.py
/sage/modular/cusps_nf.py
/sage/modular/dims.py
/sage/modular/dirichlet.py
/sage/modular/etaproducts.py
/sage/modular/hecke/*
/sage/modular/local_comp/*
/sage/modular/modform/*
/sage/modular/modsym/*
/sage/modular/overconvergent/__init__.py
/sage/modular/overconvergent/all.py
/sage/modular/overconvergent/genus0.py
/sage/modular/overconvergent/hecke_series.py
/sage/modular/overconvergent/weightspace.py
/sage/modular/quatalg/*
/sage/version.py
/setup.py
/setup.py.rej
/spkg-delauto
/spkg-dist
/spkg-install

